body {
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.App {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.App-link {
	color: #61dafb;
}
